/* button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .on {
    color: #000;
  }
  .off {
    color: #ccc;
  } */

.reviewCard{
    display: flex;
    margin: 2%;
    padding: 2%;
    gap: 25px;
    height: 20%;
    justify-content: space-between;
    border: 2px solid lightgray;
    border-radius: 30px;
    font-family: 'Open Sans', sans-serif;   
}